*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#b121b17e;
color:white;
font-family:sans-serif;
}

.app{
padding:25px;
}

.main-content{
display:flex;
gap:30px;
}

.left{
flex:3;
}

.right{
flex:1;
}

.movies-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
}
.hero{
height:500px;
border-radius:20px;
background-image:url("https://image.tmdb.org/t/p/original/rAiYTfKGqDCRIIqo664sY9XZIvQ.jpg");
background-size:cover;
background-position:center;
position:relative;
margin-bottom:40px;
}

.overlay{
width:50%;
height:100%;
padding:60px;
background:linear-gradient(
90deg,
rgba(160, 63, 63, 0.95),
rgba(0,0,0,.2)
);
}

.overlay h1{
font-size:70px;
margin:20px 0;
}

.watch{
margin-top:30px;
background:red;
border:none;
padding:15px 30px;
border-radius:10px;
color:white;
font-size:18px;
cursor:pointer;
}
.card{
position:relative;
overflow:hidden;
border-radius:20px;
background:#111827;
}

.card img{
width:100%;
height:320px;
object-fit:cover;
}

.rate{
position:absolute;
top:10px;
left:10px;
background:#000;
padding:6px 10px;
border-radius:10px;
}

.content{
padding:15px;
}

.content h3{
font-size:18px;
margin-bottom:10px;
}